@use "./variables";
@use "./vh";
@use "./fonts";
@use "./norm";

// blocks
@use "./blocks/header";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  margin-top: 107px;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
